body {
    font-family: "Raleway", sans-serif;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    color: floralwhite;
}

.list_ships {
    margin-bottom: 50px;
}

.blacky {
    color: black;
}

.whitey {
    color: antiquewhite;
}

.listlow {
    background-color: rgba(204, 204, 255, 0.8);
    color: black;
}

.listmid {
    background-color: rgba(255, 204, 255, 0.5)
}

.listhigh {
    background-color: rgba(255, 88, 99, 0.5);
}

.fixed_top {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.last_tier {
    margin-bottom: 20px;
}


/*  cuerpo como tal  Tablas */

.about {
    padding: 90px 0;
}

.about-tiers {
    padding-top: 100px;
    padding-bottom: 40px;
}

.about-contact {
    padding-top: 90px;
    padding-bottom: 20px;
}

.content_start {
    transition: 1s;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px;
}


/*  colores para tablas segun el tier. */

.table-tier1,
.table-tier1>th,
.table-tier1>td {
    background-color: #CBD1E3;
    color: darkslateblue;
}

.table-tier2,
.table-tier2>th,
.table-tier2>td {
    background-color: #B2B3D5;
    color: darkslateblue;
}

.table-tier3,
.table-tier3>th,
.table-tier3>td {
    background-color: #A399C6;
}

.table-tier4,
.table-tier4>th,
.table-tier4>td {
    background-color: #9980B7;
}

.table-tier5,
.table-tier5>th,
.table-tier5>td {
    background-color: #9468A8;
}

.table-tier6,
.table-tier6>th,
.table-tier6>td {
    background-color: #925098;
}

.table-tier7,
.table-tier7>th,
.table-tier7>td {
    background-color: #925098;
}

.table-tier8,
.table-tier8>th,
.table-tier8>td {
    background-color: #88387C;
}

.table-tier9,
.table-tier9>th,
.table-tier9>td {
    background-color: #7D2B5F;
}

.table-tierx,
.table-tierx>th,
.table-tierx>td {
    background-color: #712042;
}


/* ------------------------------------------ */

.caption,
.thumbnail {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    caption-side: bottom;
    color: wheat;
}

.caption:hover,
.thumbnail:hover {
    font-weight: bold;
}

.container_contact {
    width: 100%;
    padding-right: 0;
    padding-left: 20px;
    margin-right: 0;
    margin-left: 0;
}

.container_tiers {
    width: 100%;
    padding-right: 15px;
    padding-left: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.types-links {
    color: honeydew;
}

.types-links:hover {
    color: navajowhite;
}

.margin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
}


/*-------------------------------------------------

/* ---------------- HEADER  */

#header {
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#video_fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(40, 40, 40, 0.9);
    /*  rgba para definir la opacidad de la cabezera
       en el momento q se le da scroll
         el 40 40 40 es el gris negro c
         */
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo a {
    color: coral;
    text-decoration: none;
}


/*  En el caso q ponga una img
#header .logo img {
    max-height: 40px;
}
*/

@media (max-width: 992px) {
    #header {
        border: 0;
        padding: 15px 0;
    }
}

.fixed_top {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.last_tier {
    margin-bottom: 50px;
}


/*  cuerpo como tal  Tablas */

.about {
    padding: 90px 0;
}

.about-tiers {
    padding-top: 100px;
    padding-bottom: 40px;
}

.about-contact {
    padding-top: 90px;
    padding-bottom: 20px;
}

.content_start {
    transition: 1s;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px;
}

#animation_opacity {
    animation: cssAnimation 0s 1.22s forwards;
    opacity: 0;
}

@keyframes cssAnimation {
    to {
        opacity: 1;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    margin: 0 12px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    padding: 25px 3px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: deepskyblue;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid coral;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #282828;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: orangered;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: "Raleway", SansSerif;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}


/* BOTON DE LA BARRAAA */

.get-started-btn {
    margin-left: 25px;
    background: orangered;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.get-started-btn:hover {
    background: darksalmon;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

@media (max-width: 992px) {
    .get-started-btn {
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #35322d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ffb03b;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #46423b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #ffb03b;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

input.origin {
    height: 300px;
}